{{- $fragment := .self.Params -}}
{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $bg := $fragment.background | default "secondary" }}
<a name="{{ $fragment.anchor }}"></a>
<section id="{{ $name }}">
    <div class="overlay container-fluid
                {{- printf " bg-%s" $bg -}}
         ">
        <div class="container py-5">
            <div class="row">
                <div class="col text-center
                            {{- if eq $bg "dark" -}}
                     {{- printf " text-%s" "light" -}}
                     {{- else -}}
                     {{- printf " text-%s" "dark" -}}
                     {{- end -}}
                     ">
                    <h4>{{ $fragment.title }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p>{{ $fragment.description }}</p>
                </div>
            </div>
        </div>
</section>
